/**
 * HW 2
 **/

body {
  background-image: url("../images/bg.png");
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #777777;
  position: relative;
}

.header {
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.header-container {
  width: 960px;
  height: 68px;
  margin: 0 auto;
}

.name {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #4aaaa5;
  font-weight: bold;
  font-size: 1.5em;
  width: 200px;
  height: 69px;
  margin: 0px;
  padding: 0 25px;
  float: left;
  color: #ffffff;
  line-height: 65px; /****hacked this to align text in center.****/
  text-decoration: none;
}

.header-right {
  float: right;
}

.nav {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  float: right;
}

.nav ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0px;
  overflow: hidden;
  background-color: #ffffff;
}

.nav a {
  display: inline-block;
  color: #777777;
  text-align: center;
  padding: 25px 10px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #eeeeee;
  color: #4aaaa5;
}

.nav a:hover:not(.active) {
  background-color: #4aaaa5;
  color: #ffffff;
}

.content {
  width: 960px;
  margin: 25px auto 150px auto;
  padding: 0;
  background-color: #ffffff;
  overflow: auto;
}

.about {
  padding: 25px;
  border: 1px solid #cccccc;
}

h1 {
  color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}

.line {
  border: 1px solid #cccccc;
}

.main {
  width: 100%;
  overflow: auto;
  clear: both;
  color: #777777;
  padding-top: 15px;
}

.headshot {
  /* position: relative; */
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}
.footer {
  border-top: 8px solid #4aaaa5;
  text-align: center;
  color: #cccccc;
  padding: 25px 0 8px 0;
  background-color: #666666;
  font-size: 0.7em;
  position: absolute;
  width: 100%;
}

/* clearfix is applied to the parent container to 'fix' the flow of the page */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#name,
#email {
  width: 96%;
  padding: 8px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 1px;
}

#message {
  width: 96%;
  height: 150px;
  padding: 8px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 1px;
  overflow: scroll;
}

.button {
  background-color: #4aaaa5;
  height: 30px;
  width: 70px;
  color: #ffffff;
}
.row-portfolio {
  margin-bottom: 15px;
}
.col-portfolio {
  float: left;
  margin: 20px 25px 0 0;
}

.title {
  float: left;
  width: 250px;
  height: 40px;
  padding: 18px 0 0 0;
  color: white;
  background: #4aaaa5;
  z-index: 50;
  position: absolute;
  /* bottom: 115px; */
  margin: -85px 0 0 0;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/********  MEDIA QUERIES  *********/

@media only screen and (max-width: 980px) {
  .content {
    margin-left: 60px;
    width: 602px;
  }
  .header {
    padding-left: 60px;
  }
  .header-container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    margin-left: 30px;
    width: 602px;
  }
  .header {
    padding-left: 30px;
  }
  .header-container {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .content {
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
  }
  .header {
    padding-left: 0px;
  }
  .header-container {
    height: 137px;
  }
  .nav {
    float: none;
    text-align: center;
  }

  .name {
    width: 100%;
    text-align: center;
  }

  .headshot {
    text-align: center;
    float: none;
    margin: 10px auto;
  }
  .col-portfolio {
    /* margin-left: auto;
    margin-right: auto; */
    padding: 18px 0;
    text-align: center;
    float: none;
  }
  .title{
    margin-left: auto;
    margin-right: auto;
    float: none;
    position: relative;
    text-decoration: none;
  }
}
